@model UdemyMVC.ViewModels.CourseDetailsVM 

@{
    ViewData["Title"] = "CourseDetailes";
}




<div style="background-color:#2d2f31 ;z-index:1;position:fixed; top:0;left:0;right:0;" id="scroll">
    <div class="container" >
        <div class="container row " style="margin-left:60px">
            <div class=" col-6  " style="height:65px;box-sizing:border-box;padding:5px 0 0 ">
                
                    <h5 style="color:aliceblue">@Model.CourseName </h5>                                      
                    <span style="color:aliceblue">@Model.NumberOfStudent student </span>
                    &nbsp
                       <partial name="_FourStarsTempPartial" /><span style="color:aliceblue">4.0 </span>
               
                </div>
                </div>
                </div>
                </div>

    













<div style="background-color:#2d2f31" id="sec1">
    <div class="container" style=" height:350px">
        <div class="container row " style="margin-left:60px">
            <div class=" col-6">
                <div class="mt-2 pt-3">
                    <a href="#" class="fs-6"  style="color:#c0c4fc; text-decoration:none;font-weight:500 "> Category > @Model.Category[0] </a>

                   @*  @foreach(var item in Model.Category)
                    {
                        
                    <span style="color:aliceblue">@item</span>
                    
                    } *@
                </div>
                <div class="mt-3">
                    <h3 style="color:aliceblue">@Model.CourseName </h3>
                    
                    <span class="d-block" style="color:aliceblue ;font:100">
                        @Model.Title
                    </span>
                </div>
                <div class="mt-3">
                    <partial name="_FourStarsTempPartial" /><span style="color:aliceblue">4.0 </span>

                </div>
                <div class="mt-2">
                    <span style="color:aliceblue">@Model.NumberOfStudent student </span>
                </div>
                <div class="mt-2">
                    <span style="color:aliceblue">Created by <a href="#" style="color:aliceblue"> @Model.Instructor</a></span>
                </div>
                <div class="mt-2">
                    <span style="color:aliceblue">Last Update --</span>
                    <span style="color:aliceblue"> <i class="bi bi-globe"></i> English </span> <span style="color:aliceblue">
                        <i class="bi bi-badge-cc-fill"></i>
                            English [CC], Arabic [Auto]
                    </span>

                </div>
            </div>
            <div class="card  mt-4 col-6" style="width: 18rem; margin:auto ; position:fixed;top:50px; right:200px">

                <img src="~/img/images.jpeg" height="180" class="card-img-top" />
                <div class="card-body">
                    <p class="card-text fw-bold" >Subscribe to Udemy’s top courses</p>
                    <a href="#" class="btn btn-outline-success " style="width:230px">Subscribe</a>
                    <p class="text-secondary text-center " style="font-size:small">Get this course, plus 11,000+ of our top-rated courses, with Personal Plan</p>
                   <div class="d-flex">
                        <hr style="width:110px" /> <p class="text-secondary text-center " style="font-size:x-small">OR</p> <hr style="width:110px" />
                   </div>
                    <h5 class="card-title">$ @Model.Price</h5>
                    <a href="#" class="btn btn-outline-success " style="width:230px" >Add to cart</a>
                    <p class="text-secondary text-center " style="font-size:small">30-Day Money-Back Guarantee</p>
                    <p class="text-secondary text-center " style="font-size:small">Full Lifetime Access</p>

                </div>
            </div>


            </div>

        </div>
    </div>
</div>








<div class="container mt-4">
    <div class="container row " style="margin-left:60px;height:300px;width:680px">
        <div class=" col-12">
            <p class="fw-bolder fs-4">This course includes:</p>
            <div class="d-flex justify-content-between">
                <div>
            <div class="d-flex">
                <i class="bi bi-play-btn p-2"></i>
                <p class="p-2">55.5 hours on-demand video</p>
            </div>
            <div class="d-flex">
                        <i class="bi bi-journal-text p-2"></i>
                        <p class="p-2">Assignments</p>
            </div>
            <div class="d-flex">
                        <i class="bi bi-journal p-2"></i>
                        <p class="p-2">55 articles</p>
            </div>
            <div class="d-flex">
                        <i class="bi bi-box-arrow-down p-2"></i>
                        <p class="p-2">142 downloadable resources</p>
            </div>
                </div>

                <div>
                    <div class="d-flex">
                        <i class="bi bi-phone p-2"></i>
                        <p class="p-2">Access on mobile and TV</p>
                    </div>
                    <div class="d-flex">
                        <i class="bi bi-infinity p-2"></i>
                        <p class="p-2">Full lifetime access</p>
                    </div>
                    <div class="d-flex">
                        <i class="bi bi-badge-cc p-2"></i>
                        <p class="p-2">Closed captions</p>
                    </div>
                    <div class="d-flex">
                        <i class="bi bi-trophy p-2"></i>
                        <p class="p-2">Certificate of completion</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




<div class="container mt-2">
    <div class="container row " style="margin-left:60px;width:680px">
        <div class=" col-12">
            <p class="fw-bolder fs-4">Course Content</p>
                    <div class="accordion" id="accordionExample">
                @foreach(var item in Model.chapters)
                {
                    
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-@item.ID">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.ID" aria-expanded="true" aria-controls="collapse-@item.ID">
                                <h5>
                                    @item.Title
                                </h5>
                            </button>
                            </h2>
                            <div id="collapse-@item.ID" class="accordion-collapse collapse show" aria-labelledby="heading-@item.ID" data-bs-parent="#accordionexample">
                                <div class="accordion-body">
                            </div>
                            </div>
                        </div>
                    
                }
                
                

            </div>
            

        </div>
    </div>

</div>


<div  class="container mt-4">
    <div class="container row " style="margin-left:60px;width:680px">
        <p class="fw-bolder fs-4">Requirements</p>
    <ul>
        <li>NO prior Angular knowledge is required!</li>
        <li>Basic JavaScript & web development knowledge is required!</li>
    </ul>
    </div>
</div>
</div>




<div class="container mt-4  pb-4">
    <div class="container row " style="margin-left:60px;width:680px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">
                        This is a brief description. It gives a quick overview of the content.
                        <span id="moreContent" class="collapse">
                            @Model.Description
                        </span>
                    </p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#moreContent" aria-expanded="false" aria-controls="moreContent">
                        See More
                    </button>
                </div>
            </div>
    </div>
</div>
</div>




        <script src="/js/scroll.js"></script>